@font-face {
  font-family: 'A Love of Thunder', 'Comic Mono';
  src: url('../src/fonts/A\ Love\ of\ Thunder\ -\ Licensed\ Version.ttf')
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'A Love of Thunder', 'Comic Mono';
}
